In [1]:
import pandas as pd 
import numpy as np
from scipy import sparse
from scipy.optimize import minimize
from sklearn import linear_model
from datetime import timedelta
from pickle import load,dump

In [2]:
user_data = pd.read_csv('../data/micro/user_data-1k.csv')
cascade = pd.read_csv('../data/micro/diffusion-1k.csv',
                          parse_dates=['time'],
                          infer_datetime_format=True)
cascade.columns = ['original_status_id', 'original_user_id', 'time', 'user_id']  # DataFrame

In [16]:
k=100
ck = cascade.groupby(['original_status_id','original_user_id']).filter(lambda x:x.shape[0]>k) #result is not grouped

In [17]:
ck

        original_status_id  original_user_id                time  user_id
21        3463921564867182            519514 2012-07-04 04:18:39   519514
22        3463921564867182            519514 2012-07-04 04:20:14   537924
23        3463921564867182            519514 2012-07-04 04:20:43   169868
24        3463921564867182            519514 2012-07-04 04:21:13  1490395
25        3463921564867182            519514 2012-07-04 04:21:48   537924
26        3463921564867182            519514 2012-07-04 04:22:18  1336687
27        3463921564867182            519514 2012-07-04 04:22:46  1205682
28        3463921564867182            519514 2012-07-04 04:22:55  1715509
29        3463921564867182            519514 2012-07-04 04:23:25   868627
30        3463921564867182            519514 2012-07-04 04:25:15   377807
31        3463921564867182            519514 2012-07-04 04:26:57   175124
32        3463921564867182            519514 2012-07-04 04:28:23   777557
33        3463921564867182            519514 2012-07-04 04:36:47  1176605
34        3463921564867182            519514 2012-07-04 04:39:31  1720341
35        3463921564867182            519514 2012-07-04 04:44:28  1290463
36        3463921564867182            519514 2012-07-04 04:49:10  1720341
37        3463921564867182            519514 2012-07-04 05:04:32   468257
38        3463921564867182            519514 2012-07-04 05:13:50  1120153
39        3463921564867182            519514 2012-07-04 05:20:49   795849
40        3463921564867182            519514 2012-07-04 05:28:56  1753800
41        3463921564867182            519514 2012-07-04 05:38:24   566142
42        3463921564867182            519514 2012-07-04 05:39:38   383354
43        3463921564867182            519514 2012-07-04 05:48:00  1747989
44        3463921564867182            519514 2012-07-04 05:52:20  1020550
45        3463921564867182            519514 2012-07-04 06:01:00   509751
46        3463921564867182            519514 2012-07-04 06:02:12   350459
47        3463921564867182            519514 2012-07-04 06:12:49    11010
48        3463921564867182            519514 2012-07-04 06:13:11   174471
49        3463921564867182            519514 2012-07-04 06:15:10  1735557
50        3463921564867182            519514 2012-07-04 06:17:19  1153029
...                    ...               ...                 ...      ...
158950    3433932056122309            604194 2012-04-16 01:56:25   427336
158951    3433932056122309            604194 2012-04-16 03:50:19   983782
158952    3433932056122309            604194 2012-04-16 07:48:50  1381641
158953    3433932056122309            604194 2012-04-16 13:59:50  1629706
158954    3433932056122309            604194 2012-04-16 21:00:54   917165
158955    3433932056122309            604194 2012-04-16 23:26:45  1611786
158956    3433932056122309            604194 2012-04-17 12:33:53   593601
158957    3433932056122309            604194 2012-04-17 13:29:19   593601
158958    3433932056122309            604194 2012-04-17 13:49:33  1395636
158959    3433932056122309            604194 2012-04-17 13:58:28   593601
158960    3433932056122309            604194 2012-04-17 14:06:45  1675474
158961    3433932056122309            604194 2012-04-17 14:10:50    54506
158962    3433932056122309            604194 2012-04-18 02:43:48   905914
158963    3433932056122309            604194 2012-04-18 08:17:59  1364469
158964    3433932056122309            604194 2012-04-18 09:24:47   690211
158965    3433932056122309            604194 2012-04-19 13:49:39    13590
158966    3433932056122309            604194 2012-04-19 17:08:32   593601
158967    3433932056122309            604194 2012-04-19 23:00:46  1484540
158968    3433932056122309            604194 2012-04-20 15:13:46  1475901
158969    3433932056122309            604194 2012-04-21 15:36:32   613728
158970    3433932056122309            604194 2012-04-25 14:46:38   929662
158971    3433932056122309            604194 2012-04-25 21:05:12   889449
158972    3433932056122309            604194 2012-05-04 09:39:27   427377
158973    3433932056122309            604194 2012-05-14 14:23:46   962246
158974    3433932056122309            604194 2012-05-15 10:11:42   878652
158975    3433932056122309            604194 2012-05-16 11:16:03   550941
158976    3433932056122309            604194 2012-07-06 23:17:11   801672
158977    3433932056122309            604194 2012-07-07 02:23:13  1145299
158978    3433932056122309            604194 2012-07-13 09:56:31  1649952
158979    3433932056122309            604194 2012-07-23 15:44:55  1371128

[141934 rows x 4 columns]

In [6]:
s =30
pcascade = ck.sort_values(['time']).groupby(['original_status_id','original_user_id']).head(s)

In [7]:
pcascade

        original_status_id  original_user_id                time  user_id
21439     2011003225267462           1487992 2010-03-22 11:20:32  1487992
21440     2011003225267462           1487992 2010-03-22 14:38:07   242225
21441     2011003225267462           1487992 2010-03-22 18:04:18   509700
21442     2011003225267462           1487992 2010-03-22 20:21:34  1461926
21443     2011003225267462           1487992 2010-03-22 20:23:54   219021
21444     2011003225267462           1487992 2010-03-22 20:36:54   904089
21445     2011003225267462           1487992 2010-03-22 20:38:07  1494674
21446     2011003225267462           1487992 2010-03-22 20:39:08  1487261
21447     2011003225267462           1487992 2010-03-22 21:05:34   514250
21448     2011003225267462           1487992 2010-03-22 21:06:05   905919
21449     2011003225267462           1487992 2010-03-22 21:17:04   518899
21450     2011003225267462           1487992 2010-03-22 21:19:56   471696
21451     2011003225267462           1487992 2010-03-22 21:43:28   911915
21452     2011003225267462           1487992 2010-03-22 21:55:55  1500218
21453     2011003225267462           1487992 2010-03-22 22:03:54  1512948
21454     2011003225267462           1487992 2010-03-22 22:34:09  1500065
21455     2011003225267462           1487992 2010-03-22 22:51:43    83314
21456     2011003225267462           1487992 2010-03-22 22:58:04   453524
21457     2011003225267462           1487992 2010-03-22 23:38:41   450289
21458     2011003225267462           1487992 2010-03-23 08:49:09   220485
21459     2011003225267462           1487992 2010-03-23 09:03:56  1509370
21460     2011003225267462           1487992 2010-03-23 10:33:25  1484496
21461     2011003225267462           1487992 2010-03-23 11:04:12    86276
21462     2011003225267462           1487992 2010-03-23 12:38:23  1512280
21463     2011003225267462           1487992 2010-03-23 13:39:44   261200
21464     2011003225267462           1487992 2010-03-23 16:11:25  1498850
21465     2011003225267462           1487992 2010-03-23 17:10:47   791582
21466     2011003225267462           1487992 2010-03-23 19:03:23   492869
21467     2011003225267462           1487992 2010-03-23 19:50:27  1457644
127343    2011004054196831            908988 2010-04-05 18:09:41   908988
...                    ...               ...                 ...      ...
94089     3516557957399942           1027381 2012-11-26 10:16:54  1027381
94090     3516557957399942           1027381 2012-11-26 10:18:16   673766
94091     3516557957399942           1027381 2012-11-26 10:18:21  1092532
94092     3516557957399942           1027381 2012-11-26 10:18:47   286323
94093     3516557957399942           1027381 2012-11-26 10:22:18  1238507
94094     3516557957399942           1027381 2012-11-26 10:29:14  1059156
94095     3516557957399942           1027381 2012-11-26 10:40:19  1259684
94096     3516557957399942           1027381 2012-11-26 10:41:13    92401
94097     3516557957399942           1027381 2012-11-26 10:58:28  1449369
94098     3516557957399942           1027381 2012-11-26 11:05:03  1543211
94099     3516557957399942           1027381 2012-11-26 11:06:37   637971
94100     3516557957399942           1027381 2012-11-26 11:11:00   749891
94101     3516557957399942           1027381 2012-11-26 11:24:50   388558
94102     3516557957399942           1027381 2012-11-26 11:25:09  1459284
94103     3516557957399942           1027381 2012-11-26 11:25:41   600563
94104     3516557957399942           1027381 2012-11-26 11:28:24    88596
94105     3516557957399942           1027381 2012-11-26 11:30:18  1142151
94106     3516557957399942           1027381 2012-11-26 11:35:35  1490356
94107     3516557957399942           1027381 2012-11-26 11:36:56  1092736
94108     3516557957399942           1027381 2012-11-26 11:40:22   389397
94109     3516557957399942           1027381 2012-11-26 12:16:25   846688
94110     3516557957399942           1027381 2012-11-26 12:18:22   249989
94111     3516557957399942           1027381 2012-11-26 12:35:32   247738
94112     3516557957399942           1027381 2012-11-26 12:40:59   513988
94113     3516557957399942           1027381 2012-11-26 12:41:45  1368539
94114     3516557957399942           1027381 2012-11-26 12:43:24    42677
94115     3516557957399942           1027381 2012-11-26 13:05:13    46613
94116     3516557957399942           1027381 2012-11-26 14:07:59   657531
94117     3516557957399942           1027381 2012-11-26 14:16:05  1329952
94118     3516557957399942           1027381 2012-11-26 14:19:43  1558091

[15268 rows x 4 columns]

In [18]:
final = ck.groupby(['original_status_id']).size()

In [19]:
final

original_status_id
211110210635991         148
211110620994663         215
2011007036040908        112
2111105204456415        656
2111105241247925        321
2111106244143052        203
2111107074596824        104
3336919622933457        178
3338502289692296        938
3339414328136339       8236
3340118641607783        254
3340209238447632        445
3340995544068457        294
3341107061397869        220
3341157665232491        409
3341753902473770        118
3341871566564264        191
3343026374817560        185
3343854785090350        375
3344913150613687        214
3345951588768390        381
3346738840959532        539
3347492286764509        208
3348028314070548        449
3348183368119710        175
3349206908266409        152
3349241598704866        103
3350025226504161        111
3350640477034147        283
3351362431925339        167
                       ...
3511599434599056        347
3512258891991404        126
3512601373620544        177
3513830531488207        202
3514122710404355        464
3514183133996049        194
3514190780199283        288
3514780730085338       1699
3515242640318202        265
3515452787651970        107
3515580474648652        121
201100903160739480      162
201101117597160267      663
201110317169465723     1301
201110324325255261     1176
221101124664074287      139
221110323302138183      659
231101030547161448      281
2011102231986835061     153
2211101141593361352     672
5598200811317793615    1500
5598212231636326464     228
5599165666954745588     218
5604731485016782099     435
5607180398221519764     131
5608686419749993860     160
5613157871719019378     151
5623912345096591861     314
5625706026693703478    1051
5628011921441576253     163
dtype: int64

In [3]:
with  open('../data/micro/messaged-1k', 'rb') as mfile:
    message_dict = load(mfile)
with open('../data/micro/user_dict-1k', 'rb') as ufile:
    user_dict = load(ufile)

In [20]:
suffix = '1k'
with open('../data/micro/beta-{}'.format(suffix),'rb') as f:
    Beta = load(f)
with open('../data/micro/gamma-{}'.format(suffix),'rb') as f:
    Gamma = load(f)

In [21]:
Beta #followern | friendn | inflow | avg_inflow | avg_outflow | outflow

array([ 0.30747625,  0.02589092, -0.18649033, -0.00318369,  0.01340875,
       -0.01608643])

In [4]:
def map_index(df, col_list, dict_list):  # col is string array of column names, dict is a dictionary array
    df_mapped = df.copy()
    for i in range(len(col_list)):
        col = col_list[i]
        d = dict_list[i]
        # only apply if x exists as key , else return None

        df_mapped[col] = df_mapped[col].apply(lambda x: d.get(x))
        df_mapped = df_mapped.dropna(subset=[col, ])
    return df_mapped.set_index(col_list)

In [5]:
cascade_mapped = map_index(cascade, ['original_status_id', 'original_user_id'], [message_dict, user_dict])
cascade_list = cascade_mapped.reset_index().original_status_id.unique()
messagen = len(message_dict)
usern = len(user_dict)

In [10]:
cascade_list #missing 109 143

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131,
       132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 144, 145,
       146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158,
       159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171,
       172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 183, 184, 185,
       186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198,
       199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211,
       212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224,
       225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237,
       238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250,
       251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263,
       264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303,
       304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316,
       317, 318, 319, 320, 322, 323, 324, 325, 326, 327, 328, 329, 330,
       331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343,
       344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356,
       357, 359, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371,
       372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384,
       385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397,
       398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410,
       411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423,
       424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436,
       437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449,
       450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462,
       463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475,
       476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488,
       489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501,
       502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514,
       515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527,
       528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540,
       541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553,
       554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566,
       567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579,
       580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592,
       593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605,
       606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618,
       619, 620, 621, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632,
       633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645,
       646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658,
       659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671,
       672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684,
       685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697,
       698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710,
       711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723,
       724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736,
       737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749,
       750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762,
       763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775,
       776, 777, 778, 779, 780, 781, 782, 783, 784, 786, 787, 788, 789,
       790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802,
       803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815,
       816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828,
       829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841,
       842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854,
       855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867,
       868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880,
       881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893,
       894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906,
       907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919,
       920, 921, 922, 923, 924, 925, 926, 927, 928, 930, 931, 932, 933,
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946,
       947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959,
       960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972,
       973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985,
       986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999], dtype=int64)

In [15]:
len(user_dict)

820

In [6]:
def get_delta_series(group):
    # return Series
    s = pd.Series((group['time'] - group['time'].min()).apply(lambda dt: dt / timedelta(minutes=1)))
    return s


def to_sparse(t, m, n):  # create sparse matrix from multi-index
    i, j = list(zip(*t.index))
    data = t.values
    return sparse.coo_matrix((data, (i, j)), shape=(m, n))

In [7]:
def get_delta_count(group):
    return pd.DataFrame({
            'delta':(group['time'] - group['time'].min()).apply(lambda dt: dt / timedelta(minutes=1)),
            'original_status_id':group['original_status_id'],
            'original_user_id':group['original_user_id'],
            #'index':np.arange(len(group.index)),
        })

In [8]:
 C = cascade_mapped.reset_index().groupby(['original_status_id', 'original_user_id']).apply(get_delta_count)

In [9]:
C.head()

       delta  original_status_id  original_user_id
0   0.000000                   0             160.0
1  33.500000                   0             160.0
2  33.800000                   0             160.0
3   0.000000                   1             392.0
4   1.316667                   1             392.0

In [10]:
C.original_user_id.nunique()

820

In [18]:
#how many subcascades one original_status contains 
# max 1
C[['original_status_id','original_user_id']].drop_duplicates().groupby('original_status_id').size().max()

1

In [9]:
C[['original_status_id','original_user_id']].drop_duplicates().groupby('original_user_id').size().max()

18

In [10]:
s = C.groupby(['original_status_id','original_user_id']).size()

In [13]:
s.describe()

count     989.000000
mean      159.663296
std       465.732770
min         2.000000
25%         7.000000
50%        27.000000
75%       111.000000
max      8236.000000
dtype: float64

In [12]:
s.min()

2

In [11]:
C.original_user_id = C.original_user_id.astype('int64')
C = C[C['delta']!=0]

In [12]:
C.head()

       delta  original_status_id  original_user_id
1  33.500000                   0               160
2  33.800000                   0               160
4   1.316667                   1               392
5   8.166667                   1               392
6   8.950000                   1               392

In [17]:
C[C['original_user_id']==3] #some user_ids only have 1 time delta. Lambda goes to 0.

          delta  original_status_id  original_user_id
17543  0.516667                 108                 3

In [15]:
def prepare(user_data, cascade_mapped, messagen, usern):
    user_data.set_index('user_id', inplace=True)
    user_matrix = user_data.as_matrix()
    cascade = cascade_mapped.reset_index().dropna()
    # cascade.sort_values(['original_status_id', 'original_user_id', 'time'], axis=0, inplace=True)
    # M is the number of reposts for each <cascade, original_user> pair
    m = cascade.groupby(['original_status_id', 'original_user_id']).size()
    # m_sparse = to_sparse(m, messagen, usern)  # m is sparse
    
    C = cascade.groupby(['original_status_id', 'original_user_id']).apply(get_delta_count)#DataFrame 
    # C = cascade.groupby(['original_status_id', 'original_user_id']).apply(get_delta_series)
    # C.index = C.index.droplevel(2)  # drop the original index
    C.original_user_id = C.original_user_id.astype('int64')
    C = C[C['delta']!=0]

    return [user_matrix, m, C]

In [16]:
[user_matrix, m, C] = prepare(user_data, cascade_mapped, messagen, usern)

In [17]:
K = np.random.rand(usern, 1) + 0.5  # np.ones((usern, 1))
Lambda = np.random.rand(usern, 1) + 0.5
Beta = np.random.rand(6, 1)
Gamma = np.random.rand(6,1)
Alpha = [6 * 10 ** (-5), 8 * 10 ** (-6)]  # according to the paper
Mu = 10
Yita = 10

In [18]:
def get_C_row(C, usern, coln, i):
    tmp = pd.DataFrame(C.loc[i, :]).reset_index().drop('original_status_id', axis=1).set_index(['original_user_id'],
                                                                                               append=True)
    tmp.index = tmp.index.swaplevel(i=0, j=1)
    c_sparse = to_sparse(tmp['time'], usern, coln)
    return c_sparse.toarray()


def to_col(l):
    return np.ndarray(buffer=l, shape=(l.shape[0], 1))

In [20]:
def G1(Lambda, K, C, m, cascaden, usern):
    logL = 0
    for i in cascaden:
        coln = m.getrow(i).sum() - 1
        c_array = get_C_row(C, usern, coln, i)
        K_full = np.hstack((K,) * coln)
        p = to_col(np.power(c_array, K_full).sum(axis=1))
        a = m.getrow(i).transpose().multiply(np.log(K)).sum()
        b = (to_col(np.log(c_array + 1).sum(axis=1)) * (K - 1)).sum()
        c = m.getrow(i).transpose().multiply(K).multiply(np.log(Lambda)).sum()
        d = (np.power(Lambda, K * (-1)) * p).sum()
        logL = logL + a + b - c - d
    return -logL

In [15]:
from math import log,pow

In [19]:
def G1(Lambda,K,t1,t2,cascaden):
    logL =0
    for i in cascaden:
        if len(t1.loc[i].shape)==1:
            u = t1.loc[i].original_user_id
            time = t2.loc[i].loc[u].delta
            userK = K[u]
            userLambda = Lambda[u]
            logL += log(userK)+log(time)*(userK-1)-userK*log(userLambda)-pow(userLambda,userK*(-1))*pow(time,userK)
        else:
            users = t1.loc[i].original_user_id.drop_duplicates().as_matrix().tolist()
            for u in users:
                time = t2.loc[i].loc[u].delta.as_matrix()
                userK = K[u]
                userLambda = Lambda[u]
                m = time.shape[0]
                a = m * log(userK)
                b = np.log(time).sum()*(userK-1)
                c = m*userK*log(userLambda)
                d = pow(userLambda,userK*(-1))*np.power(time,userK).sum()
                logL += a+b-c-d
    return -logL

In [20]:
def G2(Lambda, Beta, user_data, Alpha, usern):
    loss = np.log(Lambda) - (np.log(user_data).dot(Beta))  # user_data should have no zeroes
    return 1 / (2 * usern) * np.linalg.norm(loss) ** 2 + Alpha[0] * np.abs(Beta).sum()  # L1 norm


def G3(K, Gamma, user_data, Alpha, usern):
    loss = np.log(K) - (np.log(user_data).dot(Gamma))
    return 1 / (2 * usern) * np.linalg.norm(loss)**2 + Alpha[1] * np.abs(Gamma).sum()  # L1 norm

In [21]:
def costLambda(Lambda, cascaden, usern, t1,t2, user_data, Alpha, Mu, K, Beta):
    J = G1(Lambda, K, t1,t2,cascaden) + Mu * G2(Lambda, Beta, user_data, Alpha, usern)
    return J

In [107]:
%timeit G1(Lambda,K,C,cascade_list,usern)

/home/zoey/anaconda3/envs/topics/lib/python3.5/site-packages/ipykernel/__main__.py:9: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
/home/zoey/anaconda3/envs/topics/lib/python3.5/site-packages/ipykernel/__main__.py:10: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future

1 loop, best of 3: 2.46 s per loop

In [22]:
def derLambda(Lambda, cascaden, usern, t1,t2,user_data, Alpha, Mu, K, Beta):
    derG1 = np.zeros(Lambda.shape)  # col vector
    for i in cascaden:
        if len(t1.loc[i].shape) == 1:
            u = t1.loc[i].original_user_id
            time = t2.loc[i].loc[u].delta
            userK = K[u]
            userLambda = Lambda[u]
            p = pow(time, userK)
            a = userK / userLambda
            b = pow(userLambda, userK*(-1) - 1) * p * userK
            derG1[u] += a - b
        else:
            users = t1.loc[i].original_user_id.drop_duplicates().as_matrix().tolist()
            for u in users:
                time = t2.loc[i].loc[u].delta.as_matrix()
                userK = K[u]
                userLambda = Lambda[u]
                m = time.shape[0]
                p = np.power(time,userK).sum()
                a = m*userK/userLambda
                b = pow(userLambda,userK*(-1)-1) *p *userK
                derG1[u] += a-b

    loss = np.log(Lambda) - np.log(user_data).dot(Beta).reshape(Lambda.shape)
    derG2 = 1 / usern * (loss / Lambda)
    result = derG1 + derG2 * Mu
    return result

In [32]:
def derG1(Lambda,K,t1,t2,cascaden):#Lambda
    derG1 = np.zeros(Lambda.shape)  # col vector
    for i in cascaden:
        if len(t1.loc[i].shape) == 1:
            u = t1.loc[i].original_user_id
            time = t2.loc[i].loc[u].delta
            userK = K[u]
            userLambda = Lambda[u]
            p = pow(time, userK)
            a = userK / userLambda
            b = pow(userLambda, userK*(-1) - 1) * p * userK
            derG1[u] += a - b
        else:
            users = t1.loc[i].original_user_id.drop_duplicates().as_matrix().tolist()
            for u in users:
                time = t2.loc[i].loc[u].delta.as_matrix()
                userK = K[u]
                userLambda = Lambda[u]
                m = time.shape[0]
                p = np.power(time,userK).sum()
                a = m*userK/userLambda
                b = pow(userLambda,userK*(-1)-1) *p *userK
                derG1[u] += a-b
    return derG1

In [52]:
def derG1K(K,Lambda,t1,t2,cascaden):
    derG1 = np.zeros(K.shape)
    for i in cascaden:
        if len(t1.loc[i].shape) == 1:
            u = t1.loc[i].original_user_id
            time = t2.loc[i].loc[u].delta
            userK = K[u]
            userLambda = Lambda[u]
            p = pow(time, userK)
            q = pow(time, userK) * log(time)
            derG1[u] += - 1/ userK - log(time) + log(userLambda) - pow(userLambda, userK * (-1)) * log(userK) * p \
                + pow(userLambda, userK * (-1)) * q

    else:
            users = t1.loc[i].original_user_id.drop_duplicates().as_matrix().tolist()
            for u in users:
                time = t2.loc[i].loc[u].delta.as_matrix()
                print(time)
                userK = K[u]
                userLambda = Lambda[u]
                m = time.shape[0]
                p = np.power(time,userK).sum()
                q = (np.power(time,userK) * np.log(time)).sum()
                derG1[u] += - m/userK - np.log(time).sum() + m*log(userLambda) - pow(userLambda,userK*(-1)) *log(userLambda)*p\
                + pow(userLambda,userK*(-1))*q
    return derG1

In [43]:
def derG2(Lambda,Beta,user_data,Alpha,usern):
    loss = np.log(Lambda) - np.log(user_data).dot(Beta).reshape(Lambda.shape)
    derG2 = 1 / usern * (loss / Lambda)
    return derG2

In [42]:
from scipy.optimize import check_grad

In [27]:
t1 = C.set_index('original_status_id')
t2 = C.set_index(['original_status_id', 'original_user_id'])

In [56]:
cascade_list_test = cascade_list[1:2]

In [31]:
args = [cascade_list, usern, t1,t2, user_matrix, Alpha, Mu, K, Beta]
L = Lambda.reshape(usern,)
check_grad(costLambda,derLambda,L,*args)

/home/zoey/anaconda3/envs/topics/lib/python3.5/site-packages/ipykernel/__main__.py:7: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
/home/zoey/anaconda3/envs/topics/lib/python3.5/site-packages/ipykernel/__main__.py:8: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
/home/zoey/anaconda3/envs/topics/lib/python3.5/site-packages/ipykernel/__main__.py:12: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future

28253.987890343116

In [30]:
from math import log,pow

In [40]:
args = [K,t1,t2, cascade_list_test]
L = Lambda.reshape(usern,)
check_grad(G1,derG1,L,*args)

0.0022037347080186009

In [45]:
args = [Beta,user_matrix,Alpha,usern]
L = Lambda.reshape(usern,)
check_grad(G2,derG2,L,*args)

207.03564793483832

In [46]:
user_matrix.shape

(820, 6)

In [54]:
def G1K(K,Lambda,t1,t2,cascaden):
    logL =0
    for i in cascaden:
        if len(t1.loc[i].shape)==1:
            u = t1.loc[i].original_user_id
            time = t2.loc[i].loc[u].delta
            userK = K[u]
            userLambda = Lambda[u]
            logL += log(userK)+log(time)*(userK-1)-userK*log(userLambda)-pow(userLambda,userK*(-1))*pow(time,userK)
        else:
            users = t1.loc[i].original_user_id.drop_duplicates().as_matrix().tolist()
            for u in users:
                time = t2.loc[i].loc[u].delta.as_matrix()
                userK = K[u]
                userLambda = Lambda[u]
                m = time.shape[0]
                a = m * log(userK)
                b = np.log(time).sum()*(userK-1)
                c = m*userK*log(userLambda)
                d = pow(userLambda,userK*(-1))*np.power(time,userK).sum()
                logL += a+b-c-d
    return -logL

In [57]:
args = [Lambda,t1,t2,cascade_list_test]
K_test = K.reshape(usern,)
check_grad(G1K,derG1K,K_test,*args)

[   1.31666667    8.16666667    8.95          9.98333333   15.23333333
   15.8          24.51666667   40.55         41.2          58.28333333
   79.1         122.53333333  123.5         408.13333333  431.21666667
  578.75        596.35      ]

0.0013556447156588547

In [ ]:
#errors accumulate as the length of time grows